body {
  margin: 0;
  padding: 0;
}
*, :after, :before {
  box-sizing: border-box;
}
#wrapper {
  background-color: #222222;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  padding: 50px;
}
#wrapper form input {
  outline: none;
  }
h4 {
  font-size: 18px;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
#wrapper {
  padding-top: 10px;
}
}




/* columna izquierda */

/* btn mostrar filtros mobile */
#btn-mostrar-filtros {
	display: none;
	position: fixed;
	background-color: #A41F35;
	background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMzIgMzIiIGlkPSJFZGl0YWJsZS1saW5lIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAzMiAzMiIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PHBhdGggZD0iICBNMy4yNDEsNy42NDZMMTMsMTl2OWw2LTR2LTVsOS43NTktMTEuMzU0QzI5LjMxNSw2Ljk5NiwyOC44NDgsNiwyNy45ODYsNkg0LjAxNEMzLjE1Miw2LDIuNjg1LDYuOTk2LDMuMjQxLDcuNjQ2eiIgZmlsbD0ibm9uZSIgaWQ9IlhNTElEXzZfIiBzdHJva2U9IiMwMDAwMDAiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBzdHJva2Utd2lkdGg9IjIiLz48L3N2Zz4=");
	background-size: 60%;
        background-position: center;
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
        top: 10px;
	    left:0;
        z-index: 99999;
        cursor: pointer;
    }
#columna-filtros.mostrar {
    transform: translateX(0);
	padding-top: 40px;
	transition: all 1s;
	-webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
	transition-timing-function: ease;
}
#btn-mostrar-filtros.mostrar-cerrar {
	background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgY2xhc3M9ImZlYXRoZXIgZmVhdGhlci14IiBmaWxsPSJub25lIiBoZWlnaHQ9IjI0IiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxsaW5lIHgxPSIxOCIgeDI9IjYiIHkxPSI2IiB5Mj0iMTgiLz48bGluZSB4MT0iNiIgeDI9IjE4IiB5MT0iNiIgeTI9IjE4Ii8+PC9zdmc+");
	background-size: 80%;
}
/* btn mostrar filtros mobile */
#columna-filtros {
  background-color: #A41F35;
  color: #ffffff;
  display: inline-block;
  padding: 20px;
  padding-top: 40px;
  width: 30%;
  margin-right: 5%;
  vertical-align: top;
}
#columna-filtros .buscador {
  margin-bottom: 10px;
}
#columna-filtros .cont-selector .selectores {
  max-height: 200px;
  min-height: 90px;
  overflow-y: auto;
  margin-bottom: 20px;
}
#columna-filtros .cont-selector {
  border-bottom: 1px solid #ffffff;
}
#columna-filtros .buscador input, #columna-filtros .buscador input:focus-visible {
    border: 0 none;
    padding: 8px 10px;
    width: 100%;
    display: block;
	outline: none;
}
label {
  display: block;
}
input[type="checkbox"] {
  cursor: pointer;
  background-color: #fff;
  color: #fff;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='black' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  width: 14px;
  height: 14px;
  margin-top: 4px;
  appearance: none;
  vertical-align: sub;
  background-position: 0 -2rem;
  background-size: 140%;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
input[type="checkbox"]:checked {
  background-color: #ffffff;
  color: #ffffff;
  background-position: center;
}
input[type="checkbox"]:focus {
  border-color: #aaaaaa;
}
#input[type="checkbox"]:disabled {
  background-color: #dddddd;
  background-image: none;
}
#columna-filtros .cont-selector .selectores::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}
#columna-filtros .cont-selector .selectores::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}
#columna-filtros .cont-selector .selectores::-webkit-scrollbar-thumb {
  background-color: #000;
}
@media (max-width: 1024px) {
#btn-mostrar-filtros {
	display: block;
    }
#btn-mostrar-filtros img {
	width: 40%;
	}
#columna-filtros {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    transform: translateX(-100%);
    transition: all .3s;
	-webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
	transition-timing-function: ease;
}
#columna-filtros {
    width: 100%;
}
}
	
  /* botones aplicar filtros */
	
  .cont-btn-aplicar-filtros {
    display: flex;
    justify-content: space-around;
	position: sticky;
    bottom: 0;
    background-color: #a41f35;
    padding: 2px;
  }
  .cont-btn-aplicar-filtros input {
    cursor: pointer;
    font-size: 14px;
    background: #000000;
    padding: 10px;
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
    flex-shrink: 1;
    border: 0 none;
    flex-grow: 1;
    margin: 2px;
  }
  .cont-btn-aplicar-filtros input {
    cursor: pointer;
    font-size: 14px;
    background: #000000;
    padding: 10px;
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
    flex-shrink: 1;
    border: 0 none;
    flex-grow: 1;
    margin: 10px 4px 0;
  }
  /* botones aplicar filtros */
	
  /* columna izquierda */
	
	
	
	
  /* columna derecha */
	
  #columna-reconocimientos {
    display: inline-block;
    width: 64%;
    vertical-align: top;
  }
  /* buscador */
	
  #columna-reconocimientos form {
    margin-bottom: 100px;
	position: relative;
  }
  #columna-reconocimientos form input[type="text"] {
    padding: 12px 10px;
    border: 0 none;
    width: 100%;
  }
  #columna-reconocimientos form input[type="submit"] {
    background-color: #e4e4e4;
    font-size: 14px;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 11px 10px;
    min-width: 100px;
    cursor: pointer;
    color: #000;
    font-weight: normal;
    text-transform: uppercase;
    border: 0 none;
	transition: background-color .5s, color .5s;
	 -webkit-transition: background-color .5s, color .5s;
    -moz-transition: background-color .5s, color .5s;
    -ms-transition: background-color .5s, color .5s;
    -o-transition: background-color .5s, color .5s;
  }
#columna-reconocimientos form input[type="submit"]:hover {
    background-color: #A41F35;
	color:#ffffff;
	transition:background-color .5s, color .5s ;
	-webkit-transition: background-color .5s, color .5s;
    -moz-transition: background-color .5s, color .5s;
    -ms-transition: background-color .5s, color .5s;
    -o-transition: background-color .5s, color .5s;
  }
  #columna-reconocimientos .cont-filtros-aplicados {
    color: #ffffff;
    padding: 10px 0;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
#columna-reconocimientos .cont-filtros-aplicados .filtro-elegidos {
    display: flex;
	flex-wrap: wrap;
}
#columna-reconocimientos .cont-filtros-aplicados .filtro-elegidos span {
    padding: 8px;
    font-size: 12px;
    color: #f4f4f4;
    background-color: rgba(0, 0, 0, .4);
    margin: 4px 2px;
}
#columna-reconocimientos .cont-filtros-aplicados .filtro-elegidos span:last-child {
    margin-right: 4px;
}
#columna-reconocimientos .cont-filtros-aplicados #limpiar_filtros {
    font-size: 12px;
    background-color: #000000;
    padding: 8px;
    text-decoration: none;
    color: #fff;
}
	
  /* buscador */
	
  /* calugas vinos */
	
  #columna-reconocimientos .cont-calugas-vinos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  #columna-reconocimientos .cont-calugas-vinos .caluga-vino {
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation: fadein 2s;
    background-color: #ffffff;
    position: relative;
    margin-top: 150px;
    margin-bottom: 100px;
    padding: 15px;
    padding-top: 100px;
    min-width: 32%;
  }
@-webkit-keyframes fadein {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }
}
  #columna-reconocimientos .cont-calugas-vinos .caluga-vino img {
    width: 170px;
    position: absolute;
    left: 0;
    right: 0;
    top: -210px;
    margin: 0 auto;
  }
#columna-reconocimientos .cont-calugas-vinos .caluga-vino h3 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    color: #222;
    font-family: 'Poppins', sans-serif;
    line-height: normal;
    letter-spacing: 0;
}
#columna-reconocimientos .cont-calugas-vinos .caluga-vino h3, #columna-reconocimientos .cont-calugas-vinos .caluga-vino p {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 0;
    padding-bottom: 0px;
  }
#columna-reconocimientos .info-publicacion {
    margin-top: 10px !important;
    padding-top: 10px;
    border-top: 1px solid #000000;
  }
#columna-reconocimientos .cont-calugas-vinos .caluga-vino p.info-premio-puntaje {
    font-size: 40px;
    font-weight: bold;
    color: #A41F35;
  }
#columna-reconocimientos .cont-calugas-vinos .caluga-vino p.info-premio-puntaje i {
    font-size: 14px;
  }

/* paginacion */

.paginacion {

}

.paginacion ul {
	list-style:none;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
    align-items: center;
	gap: 10px;
}

.paginacion ul li {

}

.paginacion ul li a {
    display: block;
    padding: 6px 10px;
    color: #fff;
    background: #000000;
    text-decoration: none;
}
.paginacion ul li .active,
.paginacion ul li a:hover{
   background: #A41F35;
}

/* paginacion */

  @media (max-width: 1024px) {
#columna-reconocimientos {
    display: block;
    width: 100%;
}
#columna-reconocimientos .cont-calugas-vinos {
      flex-direction: column;
    }
}
  /* calugas vinos */
	
  /* columna derecha */
